
<section class= "dash">
<div class="section-participantes-preferencias">
    <h3>Participantes invitados:</h3>
    <div class="participantes">     
        @{
            for(int i=0;i<4;i++){
                <div class="participante">
                    <img src="@ViewBag.ListaParticipantes[i].FotoPerfil" alt="Foto de perfil" class="profile-pic">
                    <span>@ViewBag.ListaParticipantes[i].Nombre</span>
                </div>
            }
            
        }
    </div>
</div>
  
  <div class="section-participantes-preferencias">
    <h3>Preferencia:</h3>
    <div class="preferences">
        <div class="participante">
            <span>@ViewBag.preferencia</span>
        </div>    
    </div>
</div>

  <div class="buttonsDash">
    <a class="btnDash" href='@Url.Action("AgregarParticipantes","CrearPlan")'>Agregar participante</a>
    <a class="btnDash" href='@Url.Action("DashPlan2","Plan")'>Iniciar votación</a>
  </div>
</div>

</section>
