
<section class= "dash">
<div class="section-participantes-preferencias">
    <h3>Participantes invitados:</h3>
    <div class="participantes">     
        @{
            for(int i=0;i<ViewBag.Participantes.Count;i++){
                <div class="participante">
                    <div class="nombre-foto">
                    <img src="@ViewBag.Participantes[i].FotoPerfil" alt="Foto de perfil" class="profile-pic">
                    <span>@ViewBag.Participantes[i].Nombre</span>
                    </div>
                    @if(ViewBag.Participantes[i].SeUnio==0){
                        <img class="icon-persona" src="/img/reloj.svg">
                    } else{
                        <img class="icon-persona" src="/img/tick.svg">
                    }
                </div>
            }
            
        }
    </div>
</div>
  
  <div class="section-participantes-preferencias">
    <h3>Preferencia:</h3>
    <div class="preferences">
        <div class="participante">
            <span>@ViewBag.Plan.TipoLugar</span>
        </div>    
    </div>
</div>

  <div class="buttonsDash">
    <a class="btnDash" href='@Url.Action("AgregarParticipantes","CrearPlan")'>Agregar participante</a>
    <a class="btnDash" href='@Url.Action("DashPlan2","Plan")'>Iniciar votación</a>
  </div>
</div>

</section>
